<h4>Bifrost Søgeinterface</h4>
<p>&nbsp;</p>
<p>Der søges i National Bibliotekets Billedsamling og studenteropgaverne under Københavns Universitets Bibliotek fra <a href="http://dias.kb.dk">DIAS</a> </p>

<% #Creates a bit space in the page -%>

