
<% # header bar for doc items in index view -%>
<div class="documentHeader clearfix">

  <% # main title container for doc partial view -%>
  <h2 class="index_title"><%= link_to 'show details', send("#{@document[:active_fedora_model_ssi].to_s.downcase}_path", @document[:id]), :label=>document_show_link_field(document), :counter => (document_counter + 1 + @response.params[:start].to_i) %>
   xsxs <%= link_to 'show details', send("#{@document[:active_fedora_model_ssi].to_s.downcase}_path", @document[:id]), :class => 'btn btn-success' %>
  </h2>


  <% # bookmark functions for items/docs -%>
  <% # render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>

</div>

