@import url(//fonts.googleapis.com/css?family=Crete+Round);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small,
.muted {
  color: #333333;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.jumbotron h1 {
  font-weight: normal !important;
}
.page-header {
  border-bottom: none;
  padding-bottom: 5px;
}
.page-header h1 {
  margin-bottom: 0;
}
hr {
  border-top: none;
  border-bottom: 2px solid #333333;
}
blockquote {
  border-left: 2px solid #333333;
}
blockquote.pull-right {
  border-right: 2px solid #333333;
}
blockquote small {
  color: #013435;
}
.navbar .navbar-inner {
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 18px 20px 16px;
  margin-left: -20px;
  font-size: 20px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  color: white;
  text-shadow: 0 1px 0 #54b4eb;
  width: 150px;
  background: transparent url(/assets/blacklight/logo.png) no-repeat top left;
  display: inline-block;
  text-indent: 35%;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0;
  margin-right: 20px;
  padding-left: 0;
}

.navbar .brand:hover {
  background-color: #002425;
}
.navbar .nav > li > a {
  padding: 20px 20px 14px;
  font-size: 20px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  text-shadow: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-text {
  margin: 19px 20px 0;
  font-size: 20px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  line-height: inherit;
}
.navbar .divider-vertical {
  border-color: rgba(0, 0, 0, 0.2);
}
.navbar .btn-navbar {
  margin-top: 14px;
}
.navbar .navbar-form,
.navbar .navbar-search {
  border-color: transparent;
  margin-top: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: normal;
}
.navbar .navbar-search .search-query {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.4);
  line-height: normal;
  color: #ffffff;
}
.navbar .dropdown-menu li > a {
  font-family: 'Crete Round', serif;
  font-weight: normal;
}
.navbar .nav > li > .dropdown-menu::before,
.navbar .nav > li > .dropdown-menu::after {
  border-bottom: none;
}
.navbar-inverse .navbar-search .search-query {
  color: #555555;
}
.navbar-inverse .dropdown-menu {
  background-color: #cbcbcb;
}
.navbar-inverse .dropdown-menu li > a {
  color: #333333;
}
.navbar-inverse .dropdown-menu li > a:hover {
  background-color: #dddddd;
}
.navbar-inverse .dropdown-menu .divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-inverse .dropdown-menu .nav-header {
  color: #555555;
}
@media (max-width: 979px) {
  .navbar .nav-collapse .nav li > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav li > a:hover {
    background-color: #002425;
  }
  .navbar-inverse .nav-collapse .nav li > a:hover {
    background-color: rgba(0, 0, 0, 0.06) !important;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
div.subnav {
  background-color: #015b4e;
  background-image: none;
  border-color: transparent;
}
div.subnav .nav > li > a {
  padding: 12px 12px 10px;
  border-color: transparent;
  background-color: transparent;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  color: #ffffff;
}
div.subnav .nav > li > a:hover,
div.subnav .nav > .active > a,
div.subnav .nav > .active > a:hover,
div.subnav .dropdown.open .dropdown-toggle,
div.subnav .dropdown.open.active .dropdown-toggle:hover {
  background-color: #002425;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  color: #ffffff;
}
div.subnav.subnav-fixed {
  top: 55px;
}
.nav .nav-header {
  color: #333333;
}
.nav .disabled > a,
.nav .disabled > a:hover {
  background-color: #028d79;
  color: #ffffff;
}
.nav-tabs {
  border-color: transparent;
}
.nav-tabs > li > a {
  background-color: #015b4e;
  color: #ffffff;
}
.nav-tabs > li > a:hover {
  background-color: #013435;
  border-color: transparent;
}
.nav-tabs .active > a,
.nav-tabs .active > a:hover {
  background-color: #013435;
  border-color: transparent;
  color: #ffffff;
}
.nav-tabs.nav-stacked > li > a {
  border-color: transparent;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: transparent;
}
.nav-tabs .open .dropdown-toggle,
.nav-tabs .active.open .dropdown-toggle {
  background-color: #013435;
}
.nav-pills > li > a {
  background-color: #015b4e;
  color: #ffffff;
}
.nav-pills > li > a:hover {
  background-color: #013435;
  border-color: transparent;
}
.nav-pills .active > a,
.nav-pills .active > a:hover {
  background-color: #013435;
  border-color: transparent;
  color: #ffffff;
}
.nav-pills .open .dropdown-toggle,
.nav-pills .active.open .dropdown-toggle {
  background-color: #013435;
}
.tabbable .nav-tabs,
.tabbable .nav-tabs > li > a,
.tabbable .nav-tabs > li > a:hover,
.tabbable .nav-tabs > li.active > a,
.tabbable .nav-tabs > li.active > a:hover {
  border-color: transparent;
}
.nav-list .nav-header,
.nav-list li > a {
  text-shadow: none;
}
.nav-list li > a:hover {
  background-color: #015b4e;
  color: #ffffff;
}
.nav-list li.active > a,
.nav-list li.active > a:hover {
  background-color: #013435;
  text-shadow: none;
}
.nav-list .divider {
  background-color: transparent;
  border-bottom: 1px solid #999999;
}
.breadcrumb {
  background-color: #015b4e;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
.breadcrumb li {
  color: #ffffff;
  text-shadow: none;
}
.breadcrumb li a {
  color: #ffffff;
  text-decoration: underline;
}
.breadcrumb li a:hover {
  color: #ffffff;
}
.breadcrumb li .divider {
  color: #ffffff;
}
.breadcrumb .active {
  color: #ffffff;
}
.pagination ul {
  background-color: #015b4e;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
.pagination ul > li > a,
.pagination ul > li > span {
  background-color: #015b4e;
  border-color: transparent;
  color: #ffffff;
}
.pagination ul > li > a:hover,
.pagination ul > li > span:hover {
  background-color: #013435;
  color: #ffffff;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #013435;
  color: #ffffff;
}
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > span,
.pagination ul > .disabled > span:hover {
  background-color: #028d79;
  color: #ffffff;
}
.pager li > a,
.pager li > span {
  border: none;
  background-color: #015b4e;
  color: #ffffff;
}
.pager li > a:hover,
.pager li > span:hover {
  background-color: #013435;
}
.pager .disabled a,
.pager .disabled a:hover {
  background-color: #028d79;
  color: #ffffff;
}
.btn {
  font-family: 'Crete Round', serif;
  font-weight: normal;
  text-shadow: none;
}
.btn-large {
  font-size: 18px;
}
.btn-group .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.table th,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #015b4e;
  color: #ffffff;
}
.table tbody tr.success td {
  background-color: #B5EEAA;
}
.table tbody tr.error td {
  background-color: #EEB8B8;
}
.table tbody tr.info td {
  background-color: #AEE2EE;
}
legend {
  border-bottom: none;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  color: #333333;
}
label,
.help-block,
input[type="file"] {
  color: #333333;
}
input,
textarea,
select {
  color: #555555;
}
.uneditable-input {
  color: #555555;
}
.form-actions {
  border-top: none;
}
.control-group.warning .control-label,
.control-group.error .control-label,
.control-group.success .control-label {
  color: #555555;
}
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #d14432;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border: 1px solid #d14432;
  color: #555555;
}
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #015b4e;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border: 1px solid #015b4e;
  color: #555555;
}
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #f26522;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border: 1px solid #f26522;
  color: #555555;
}
.alert {
  text-shadow: none;
  border: none;
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  font-weight: bold;
  color: #ffffff;
}
.alert-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: inherit;
}
.badge,
.label {
  background-color: #015b4e;
  text-shadow: none;
}
.badge-success,
.label-success {
  background-color: #006bbe;
}
.badge-warning,
.label-warning {
  background-color: #f3763a;
}
.badge-important,
.label-important {
  background-color: #d65747;
}
.badge-info,
.label-info {
  background-color: #34a7c8;
}
.badge-inverse,
.label-inverse {
  background-color: #555555;
}
.well {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hero-unit {
  border: none;
}
.thumbnail {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu .nav-header {
  color: #ffffff;
  text-shadow: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-image: none;
}
.progress {
  background-color: #d5d5d5;
  background-image: none;
}
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: baseline;
}
.modal-header {
  padding: 12px 15px 6px;
  background-color: #015b4e;
}
.modal-body,
.modal-footer {
  background-color: #333333;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-body label,
.modal-footer label {
  color: #555555;
}
.popover-title {
  color: #ffffff;
}
